name: Unit Tests

permissions:
  contents: read
  actions: read

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  go-tests:
    name: Run Unit Tests
    strategy:
      matrix:
        go-version: ["1.23", "1.24"]
        platform: [ubuntu-latest]
      fail-fast: false

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 10

    steps:
      - name: Check Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Restore Go Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-

      - name: Run Tests
        env:
          TEST_COUNT: 1
          TEST_RACE_HISTORY_SIZE: 5
          TEST_TIMEOUT: 5m
          TEST_OPTS: ""
        run: make go-test

      - name: Debug on Failure
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@7b6a61a73bbb9793cb80ad69b8dd8ac19261834c # v3.22
