name: Code Style

permissions:
  contents: read

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  lint:
    name: Lint Files
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
        id: go

      - name: Go Lint
        run: make lint

  header:
    name: Header Check
    runs-on: ubuntu-latest
    steps:
      - name: Check Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
        id: go

      - name: Run Header Check
        run: go run hack/header/main.go -config="hack/header/config.json"
